body {
  background: #000000 !important;
  margin: 0;
  padding: 0;
}

.gif {
  padding: 0 2px;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
