body {
  background: #000000 !important;
}

.gif {
  padding: 0 2px;
}

.container {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


input {
  border: none;
  margin: 10px;
  width: 300px;
  height: 55px;
  padding: 0 10px;
  border-radius: 5px;
}



.btn {
  border: none !important;
  border-radius: 10px !important;
  width: 90px;
  height: 60px;
  border-radius: 5px;
  background: #4c05f3 !important;
  color: #ffffff;
  font-weight: bold !important;
}
